<div *ngIf="repayment">
    <form class="Form-wrapper" [formGroup]="RepaymentF">
        <div class="header"><B>{{repayment.id}} : עריכת פרעון</B></div>
        <input type="text" class="form-control" formControlName="userName">
        <input type="number" class="form-control" formControlName="amount">
        <input type="date" class="form-control" formControlName="date">
        <textarea maxlength="450" type="text" class="form-control" formControlName="remark"></textarea>
        <!-- <select formControlName="loan_status" >
            <option value="Future" id="status">עתידי </option>
            <option value="Paid">שולם</option>
            <option value="Invalid">לא תקין</option>
        </select> -->
    </form>
</div>
<div class="row">
    <a (click)="save($event)" id="BAdd" >
        <app-message-add [Message]="message | json"></app-message-add>
    </a>
</div>